<div class="schedule container" ng-class="{ 'full-width': fullWidth }">
	<div now-playing="adapter.nowPlaying" ng-if="adapter.nowPlaying"
		ng-class="nowPlayingClass + (fullWidth ? ' full-width' : '')"></div>
	<div timeline="adapter.timeline" ng-if="adapter.timeline"
		timeline-open-item="methods.openItem(item.itemData)"
		ng-class="timelineClass + (fullWidth ? ' full-width' : '')"></div>
	<div class="toggle-arrow-container">
		<div class="toggle-arrow" ng-show="!!model.details" ng-click="methods.toggleViewer()"></div>
	</div>
	<div show-viewer="model.details"
		ng-if="adapter.showViewer && !!model.details && expanded"
		can-show-playlist="adapter.showViewer.canShowPlaylist"
		show-times-in-playlist="adapter.showViewer.showTimesInPlaylist"
		ng-class="showViewerClass" class="container"></div>
</div>
