.kartulita .schedule {

display: block;

.toggle-arrow-container {
	height: 0;
	overflow: visible;
	position: relative;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
	.toggle-arrow {
		display: block;
		overflow: visible;
		position: absolute;
		left: 50%;
		width: 0;
		height: 0;
		top: -20px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid white;
	}
}

.show-info {
	padding: 15px;
	padding-left: 0;
}

.show-viewer.row>.span6:first-child {
	margin-left: 0;
}

}
